/* === Global Reset and Base Styles === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure consistent font scaling and zoom */
html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #161513;
  color: #ffffff;
  overflow-x: hidden;
  font-family: 'Outfit', sans-serif;
}
